.background {
	background-color: #34a6fb;
	table-layout: fixed;
	border-spacing: 0;
}

.background td {
	padding: 0;
}

.lava {
	background-color: #ff6464;
}

.wall {
	background-color: #fff;
}

.actor {
	position: absolute;
}

.coin {
	background-color: #f1e559;
}

.player {
	background-color: #404040;
}

